<div class="Restaurant">
  <div class="col-xs-3 list--section">
    <div class="flex--section">
      <h1>Waiting List</h1>
      <button class="btn btn-primary" ng-click="restaurantCtrl.openModal()">Add Guest</button>
    </div>
    <div>
        <ul>
            <li ng-repeat="guest in restaurantCtrl.guests">
              {{guest.fname}} {{guest.lname}}
              <button class="btn btn-sm message"
                      ng-click="restaurantCtrl.sendMessage(guest.phone)">Send Message</button>
              <i class="fa fa-trash-o"
                 aria-hidden="true"
                 ng-click="restaurantCtrl.removeGuest(guest.phone)"></i>
            </li>
        </ul>
    </div>
  </div>
  <div class="col-xs-9 restaurant--section">
    <div class="container--box">
      <span draggable>Drag ME</span>
      <img draggable src="../../images/circle_480.png" alt="6 Person Table 1">
      <img draggable src="../../images/circle_480.png" alt="6 Person Table 2">

      <img draggable src="../../images/rectangle-2t_720.png" alt="2 Person Table 1">
      <img draggable src="../../images/rectangle-2t_720.png" alt="2 Person Table 2">

      <img draggable src="../../images/rectangle-4t_720.png" alt="4 Person Rectangle 1">
      <img draggable src="../../images/rectangle-4t_720.png" alt="4 Person Rectangle 2">

      <img draggable src="../../images/rectangle-6t_720.png" alt="6 Person Rectangle 1">
      <img draggable src="../../images/rectangle-6t_720.png" alt="6 Person Rectangle 2">

      <img draggable src="../../images/square_360.png" alt="4 Person Square 1">
      <img draggable src="../../images/square_360.png" alt="4 Person Square 2">
    </div>
  </div>
</div>
