<div class="container Home">
  <div class="row header">
    <div class="col-xs-10 col-xs-offset-1">
      <p>Robs' Kebab Palace</p>
      <p>Best damn Kebabs you'll eva have.</p>
      <img src="" alt="Logo" class="logo">
    </div>
  </div>
  <div class="row list_section">
    <h1>Guest Information</h1>
    <div class="col-xs-12 list">
      <div class="col-xs-4">
        <h3>First Name</h3>
      </div>
      <div class="col-xs-4">
        <h3>Last Name</h3>
      </div>
      <div class="col-xs-4">
        <h3>Party Size</h3>
      </div>
    </div>
    <div class="col-xs-12 list" ng-repeat="guest in home.customersWaiting track by $index">
      <div class="col-xs-4">
        <p>{{guest.fname}}</p>
      </div>
      <div class="col-xs-4">
        <p>{{guest.lname}}</p>
      </div>
      <div class="col-xs-4">
        <p>{{guest.numberOfPeople}}</p>
      </div>
    </div>

    <button class="btn btn-danger cancel--button"
            ng-disabled="!home.customersWaiting.length"
            ng-click="home.openModal()">Cancel</button>
  </div>
</div>
