<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Cancel waiting.</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <h4>Please enter your phone number.</h4>
    </div>
    <div class="col-xs-12">
      <label for="guestPhone" class="comp-modal-label">Phone</label>
      <input type="number" class="form-control" ng-model="phone">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="homeModalCtrl.cancelBooking(phone)">Submit</button>
</div>
